<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nail Art Gallery</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
        <a href="/">Home</a>
        <a href="/home">Gallery</a>
        <span>Nail Art Gallery</span>
        <% if (currentUser) { %>
            <a href="/designs/new">Create New Design</a>
            <a href="/users/logout">Logout</a>
        <% } else { %>
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        <% } %>
    </nav>
</header>
  <div class="container">
