<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<!-- <%- include('partials/header') %> -->

<body class="overflow">
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/home">Gallery</a>
            <span>Nail Art Gallery</span>
            <% if (currentUser) { %>
                <a href="/designs/new">Create New Design</a>
                <a href="/users/logout">Logout</a>
            <% } else { %>
                <a href="/users/login">Login</a>
                <a href="/users/register">Register</a>
            <% } %>
        </nav>
    </header>

    <div class="fade-container">
        <% photos.forEach((photo, index) => { %>
            <div class="fade-image" style="background-image: url('<%= photo.url %>');"></div>
        <% }) %>
    </div>
    <div class="homepage">
        <h1>Welcome to Nail Art Gallery</h1>
        <div class="buttons">
            <button><a href="/login">Login</a></button>
            <button><a href="/home">Gallery</a></button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let currentIndex = 0;
            const images = document.getElementsByClassName('fade-image');

            function preloadImages(imageElements) {
                return Promise.all([...imageElements].map(img => {
                    return new Promise((resolve, reject) => {
                        const src = img.style.backgroundImage.slice(5, -2);
                        const image = new Image();
                        image.src = src;
                        image.onload = resolve;
                        image.onerror = reject;
                    });
                }));
            }

            function showNextImage() {
                images[currentIndex].classList.remove('visible');
                currentIndex = (currentIndex + 1) % images.length;
                images[currentIndex].classList.add('visible');
            }

            preloadImages(images).then(() => {
                images[0].classList.add('visible');
                setInterval(showNextImage, 3000); // Change image every 3 seconds
            }).catch(err => {
                console.error("Error loading images", err);
            });
        });
    </script>

    <%- include('partials/footer') %>
</body>
</html>
