<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - Nail Art Gallery</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/header', { user: user }) %>
  <main>
    <h1>Register</h1>
    <form action="/register" method="POST">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" required>
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" required>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" required>
      <label for="bio">Bio: </label>
      <textarea name="bio" id="bio"></textarea>
      <label for="profile_picture_url">Profile Picture URL: </label>
      <input type="url" name="profile_picture_url" id="profile_picture_url">
      <button type="submit">Register</button>
    </form>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>
