/* Reset default styles */
body, span, h1, h2, ul, li, p, form, input, textarea, select, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f9f9f9;
  color: #201a1a;
}

/* Header styles */
header {
  color: #eba2a2;
  padding: 10px;
  position: relative;
  z-index: 3;
  width: auto;
}

header span {
  font-size: 2.5em;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav a {
  color: #080707;
  text-decoration: none;
  margin: 10px 50px;
  font-size: 1.2em;
}

header nav a:hover {
  text-decoration: underline;
  color: #eba2a2;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container a {
  color: #da4d6e;
  text-decoration: none;
  font-weight: bold;
}

.container a:hover {
  text-decoration: underline;
}

/* Heading styles */
h2 {
  color: #a9475f;
  margin-bottom: 10px;
}

/* Gallery styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.design {
  flex: 1 1 calc(33.333% - 20px); /* Three items per row */
  background: #f0f0f0;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  text-align: center;
}

.design img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.design a {
  color: #da4d6e;
  text-decoration: none;
  font-weight: bold;
}

.design a:hover {
  text-decoration: underline;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

form input, form textarea, form select, form button {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  width: 100%;
}

form button {
  background: #b34f6d;
  color: #fff;
  cursor: pointer;
  border: none;
}

form button:hover {
  background: #db5760;
}

/* Footer styles */
footer {
  color: #df7b7b;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Button group styles */
.button-group {
  margin: 20px 0;
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 10px; /* Add space between buttons */
}

.button-group a, .button-group form button {
  padding: 10px 20px;
  background: linear-gradient(45deg, rgb(230, 140, 164), rgb(213, 103, 103));
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.button-group a:hover, .button-group form button:hover {
  /* transform: scale(0.9); */
  background: linear-gradient(45deg, rgb(210, 59, 59), rgb(230, 140, 164));
}

/* Centered image styles */
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Comment list styles */
.comments {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.comment {
  background: #f0f0f0;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Fade image styles */
.fade-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-image.visible {
  opacity: 1;
}

.homepage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  background: linear-gradient(45deg, #eebcbc, lightyellow);
  padding: 20px;
  max-width: 350px;
  border-radius: 10px;
  opacity: 0.8;
}

.homepage a {
  text-decoration: none;
  color: white;
}

.overflow {
  overflow: hidden;
}

.homepage .buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.homepage button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: linear-gradient(45deg, rgb(230, 140, 164), rgb(213, 103, 103));
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: none;
  transition: transform 0.2s ease;
  margin: 15px;
}

.homepage button:hover {
  transform: scale(0.9);
}

.homepage button a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Comments list styles */
.comments-list {
  list-style: none;
  padding: 0;
}

.comment-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background: #f0f0f0;
}

.center-buttons {
  justify-content: center;
  gap: 40px;
}

/* Image container styles */
.image-container {
  text-align: center;
  margin: 20px 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
